# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
iOS/Build
*.DS_Store

#  自定一部分
macnojit/build
*.so
iOS/tolua.xcodeproj/*
*.a
*.xcbkptlist
*.xcuserstate
